@import "../../style.scss";

.navbar {
    @include themify($themes) {


        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 9999;
        .left {
            display: flex;
            align-items: center;
            gap: 30px;

            span {}

            .logoApp {
                text-decoration: none;
                color: themed("logo");
                font-weight: bold;
                font-size: 20px;
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;

                input {
                    border: none;
                    outline: none;
                    width: 500px;
                    background-color: transparent;
                    color: themed("textColor");

                    @include mobile {
                        display: none;
                    }
                    @include tablet {
                        width: 200px;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: 500;
            @include mobile {
                display: none;
            }
            .user {
                display: flex;
                gap: 10px;
                font-weight: 500;
                align-items: center;
                @include tablet {
                    display: none;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {}
            }
            .btn-logout {
                padding:5px 10px;
                cursor: pointer;
                border: 1px solid themed("border");
                &:hover {
                    background-color: rgb(59, 59, 188);
                    color: white;
                }
            }
        }
    }
}